<% if cart.empty? %>

  <p class='c-notice c-notice--negative'>Your cart is empty.</p>
  <a class='c-footer-btn' href='/'>Browse the catalog</a>

<% else %>

  <% if flash[:notice].present? %>
    <div class='c-notice c-notice--positive'><%= flash[:notice] %></div>
  <% end %>

  <div class='c-cart'>
    <% cart.line_items.each do |line_item| %>
      <div class='c-line-item'>
        <img src='/<%= line_item.product.photo %>-preview.jpg'
          data-src='/<%= line_item.product.photo %>.jpg'
          class='c-line-item__photo lazyload'
        />

        <div class='c-line-item__info'>
          <p class='c-line-item__name'>
            <%= line_item.quantity %> &times; <%= line_item.product.title %>
          </p>
          <p class='c-line-item__price'>
            <%= integer_to_currency line_item.total %>
          </p>
        </div>

        <form action='/update_cart_item_quantity' method='post'>
          <input type='hidden' name='product_id' value='<%= line_item.product_id %>' />

          <select name='quantity' onchange="this.parentNode.submit();">
            <% 0.upto([10, line_item.quantity].max) do |i| %>
              <option
                value='<%= i %>'
                <% if i == line_item.quantity %> selected<% end %>
              >Qty: <%= i %></option>
            <% end %>
          </select>
        </form>

        <form action='/remove_item_from_cart' method='post'>
          <input type='hidden' name='product_id' value='<%= line_item.product_id %>' />
          <button type='submit' class='c-line-item__remove_btn' title='Remove Item'>&times;</button>
        </form>
      </div>
    <% end %>
  </div>

  <form action='/place_order' method='post'>
    <button class='c-place-order-btn' type='submit'>
      Place order
      <span class='c-place-order-btn__total'>(<%= integer_to_currency cart.total %>)</span>
    </button>
  </form>

  <p class='c-note'>(note: placing orders won't actually process&nbsp;anything)</p>

  <a class='c-footer-btn' href='/'>Add more items</a>

<% end %>
