<div class='c-product-grid'>
  <% products.shuffle.each do |product| %>
    <div>
      <div class='c-product-result'>
        <img src='/<%= product.photo %>-preview.jpg'
          data-src='/<%= product.photo %>.jpg'
          class='c-product-result__photo lazyload'
        />

        <h1 class='c-product-result__name'>
          <%= product.title %>
        </h1>

        <p class='c-product-result__price'>
          <%= integer_to_currency product.price %>
        </p>

        <form action='/add_item_to_cart' method='post' class='c-product-result__add_to_cart'>
          <input type='hidden' name='product_id' value='<%= product.id %>' />
          <input type='hidden' name='quantity' value='1' />

          <button class='c-product-result__add_to_cart__button' type='submit'>Add to cart</button>
        </form>
      </div>
    </div>
  <% end %>
</div>

<% unless cart.empty? %>
  <a class='c-footer-btn' href='/cart'>View Cart (<%= cart.size %>)</a>
<% end %>
